
@model IEnumerable<DoAnWeb.Models.LoaiHang>
    <p class="lead">CÁC LOẠI BÁNH KẸO</p>
<div class="list-group">
        @foreach (var item in Model)
        {
    <a href="@Url.Action("SPTheoloai","BanhKeo",new { id= item.Maloaihang})"
       class="list-group-item">
        @item.tenloaihang
    </a>  
            
        }
 </div>
