@{
    ViewBag.Title = "Home Page";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>Live Dinner Restaurant - Responsive HTML5 Template</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="~/image/x-icon">
    <link rel="apple-touch-icon" href="~/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="~/Content/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
    @@-webkit-keyframes maume {
        0% {
            color: red;
        }

        20% {
            color: Black;
        }
        40%
        {
            color:blue;

        }
        60%
        {
            color:yellow;
        }
    }
    .buttonTC {
        border-color: red;
        color: Black;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
     
        margin: auto;
        display: block;
        cursor: pointer;
        background-image: url("https://thumbs.gfycat.com/BetterRingedBillygoat-max-1mb.gif" );
        background-position: center;
    }
        .buttonTC:hover {
            animation: maume 5s infinite; 
        }

    .about-section-box h2
    {
      
    }
    .about-section-box span 
    {
        animation: maume 5s infinite;
        font-size: 50px;
        color: Red
    }
</style>
<div class="container">
    <div class="about-section-box text-center">
        <h1> CHÀO MỪNG ĐẾN VỚI <span><br /> LuonluonVuiTuoi</span></h1>
        <h2>XIN KÍNH CHÀO QUÝ KHÁCH</h2>
       
    </div>


</div>

<div class="row">
    <div class="col-md-12">
        <br />
        <button onclick="window.location.href='/BanhKeo/Index'" class="buttonTC"> TRUY CẬP VÀO TRANG CỦA CHÚNG TÔI </button>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

    </div>


</div>
